.authBg {
    /* min-height: 100vh; */
    height:calc(100vh - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.authBox {
    background-color: #fff;
    border-radius: 0.5rem;
}

.authBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-height: calc(100vh - 50px);
    height: 100%;
    position: relative;
    /* padding-right: 20px; */
}
.authBackground img{ 
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.authImage img {
    width: 100%;
    max-width: 100%;
    min-height: 90vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0 0 10px;
}

.authFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgb(255 255 255 / 7%);
    position: relative;
    border-radius: 0 10px 10px 0;
}

.authForm {
    border-radius: 0px;
    padding: 2rem 3rem;
    width: 100%;
}

.authLogo {
    margin-bottom: 1rem;
    /* text-align: center; */
}

/* .authLogo img {
    width: 140px;
    max-width: 100%;
} */

.authFormHeader {
    /* text-align: center; */
    /* margin: 2rem 0; */
}

.authTitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: var(--blackColor);
}

.authPara {
    font-weight: 500;
    font-size: 16px;
    color: #1A1A1A;
}
.backToLogin{
    color: #05013E !important;
    font-weight: 600;
    /* text-decoration: none; */
}

@media screen and (max-width: 767px) {
    .authLogo img {
        width: 100%;
    }    
}